body {
    background-color: white;
    margin: 0px;
}

body {
    display: grid;
    min-height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "main";
    background-color: #cdddd433;
}

.header {
    background-color: #033b0d;
    padding-top: 6px;
    padding-bottom: 6px;
}

.userstatus {
    float: right;
}

.logo {
    display: inline-block;
}

.links {
    display: inline-block;
    padding-left: 10px;
    width: 90%;
}

.pipe {
    font-size: 22px;
    color: white;
    display: inline-block;
    vertical-align: middle;
}

.logo a {
    color: white; 
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.links a, .userstatus a {
    text-decoration: none;
    color: #adadad; 
    padding-left: 10px;
    font-family: verdana;
    font-size: 13px;
    padding-right: 10px;
}

.main {
    /*background-color: #00ff661a;*/
    height: 100%;
    padding-top: 15px;
}

.posttitle {
    display: inline-block;
    font-size: 16px;
}

.postauthor {
    font-size: 14px;
    display: inline-block;
}

.posttitle a {
    color: #033b0d;
    font-family: verdana;
    font-size: 14px;
}
.postlink a {
    color: #5c5b5b;
    font-family: verdana;
    font-size: 12px;
}

.postauthor a, .postsend a, .postcomments a, .commentauthor a, .commentage, .postage, .postcomments, .reply {
    text-decoration: none;
    color: #5c5b5b;
        font-family: verdana;
    font-size: 12px;
}

.postsend {
    display: inline-block;
}
.postsend a {
    font-size: 14px;
}

.postlink {
    display: inline-block;
    font-size: 13px;
}
.postage {
    font-size: 13px;
    display: inline-block;
}

.posttext {
    margin-bottom: 10px;
    margin-top: 10px;
}

.postcomments {
    display: inline-block;
    font-size: 13px;
}

.commentauthor a {
    font-size: 13px;
}

.commentauthor {
    display: inline-block;
}
.commentage {
    display: inline-block;
    font-family: verdana;
    font-size: 13px;
}

.reply {
    font-size: 13px;
    cursor: pointer;
    margin-bottom: 5px;
}

.editor {
    display: inline-block;
}
.submitbutton {
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: #033b0d;
    padding: 5px;
    border-radius: 5px;
    /*border: 2px #e4dfd9 solid;*/
    display: inline-block;
}

.post {
    margin-bottom: 13px;
}

.comment {
    margin-bottom: 0px;
}
    
.createtitle, .createlink {
    width: 100%;
    border: none; 
    outline: 2px #e4dfd9 solid;
    padding: 0px; 
    padding-left: 5px; 
    height: 30px; 
    margin-bottom: 10px; 
    font-size: 13px; 
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas'; 
    box-sizing: border-box;
}

.createeditor {
    width: 100%;
    height: 350px; 
    display: inline-block;
    outline: 2px #e4dfd9 solid;
}

.createdesc {
    float: left;
    padding-bottom: 10px;
}

.creationform {
    border: ;
}

.logo {
    display: none;
}

.userstatus {
    color: #adadad; 
    /*font-family: verdana;*/
    /*font-size: 13px;*/
}

.message {
    font-family: verdana;
    font-size: 13px;
}
@media screen and (min-width: 480px) {
    .main {
        margin-left: 10%;
        margin-right: 10%;
    }
    .header {
        padding-left: 10%;
        padding-right: 10%;
    }
    #creationform {
        width: 100%;
    }

    .createtitle {
        width: 70%; 
    }
    .createlink {
        width: 70%; 
    }
    .createeditor {
        width: 70%; 
    }

    .createdesc {
        float: right;
        display: inline-block; 
    }

    .faqtext {
        width: 480px;
    }

    .logo {
        display: inline-block;
    }

}

@media screen and (min-width: 631px) and (max-width: 1022px) {
    .links {
        width: 90%;
    }
}

.rotateprofileheader {
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    padding-bottom: 20px;
    text-align: center;
    vertical-align: middle;
}

.cell {
    text-align: center;
}
