body {
    background-color: white;
    margin: 0px;
}

body {
    display: grid;
    min-height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "main";
}

.header {
    background-color: #06778480;
    padding-left: 6px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.userstatus {
    float: right;
    display: inline-block;
}

.logo {
    display: inline-block;
}

.main {
    background-color: #00ff661a;
    height: 100%;
    padding-top: 15px;
    padding-left: 6px;
}

.posttitle {
    display: inline-block;
    font-size: 16px;
}

.postauthor {
    font-size: 14px;
    display: inline-block;
}

.postauthor a, .postlink a, .postsend a, .postcomments a, .commentauthor a, .commentage, .postage, .postcomments, .reply {
    text-decoration: none;
    color: #6c6053cc;
}

.postsend {
    display: inline-block;
}
.postsend a {
    font-size: 14px;
}

.postlink {
    display: inline-block;
    font-size: 13px;
}
.postage {
    font-family: helvetica;
    font-size: 13px;
    display: inline-block;
}

.posttext {
    margin-bottom: 10px;
    margin-top: 10px;
}

.postcomments {
    display: inline-block;
    font-family: helvetica;
    font-size: 13px;
}

.commentauthor a {
    font-size: 13px;
}

.commentauthor {
    display: inline-block;
}
.commentage {
    font-family: helvetica;
    display: inline-block;
    font-size: 13px;
}

.reply {
    font-size: 13px;
    cursor: pointer;
}

.editor {
    display: inline-block;
}
.submitbutton {
    text-decoration: none;
    color: black;
    font-size: 18px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.post {
    margin-bottom: 13px;
}

.comment {
    margin-bottom: 2px;
}
    
.createtitle, .createlink {
    width: 100%;
    border: none; 
    padding: 0px; 
    padding-left: 5px; 
    height: 30px; 
    margin-bottom: 10px; 
    font-size: 13px; 
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas'; 
}

.createeditor {
    width: 100%;
    height: 350px; 
    display: inline-block;
}

.createdesc {
    float: left;
    padding-bottom: 10px;
}

@media screen and (min-width: 480px) {
    .main {
        margin-left: 10%;
        margin-right: 10%;
    }
    .header {
        margin-left: 10%;
        margin-right: 10%;
    }

    .createtitle {
        width: 595px; 
    }
    .createlink {
        width: 595px; 
    }
    .createeditor {
        width: 600px; 
    }

    .createdesc {
        float: right;
        display: inline-block; 
    }
}
