{% extends 'posts/base.html' %}

{% block titleblock %}
FAQ
{% endblock %}

{% block bodyblock %}
<div class="main">
<div>
    <i>Amicis carissimis ova dura et salutem.</i>
    <p>
    <div class="faqtext">
        <p><b>What is this site for?</b>
        <p>It's a place for people to post links and have discussions. 
        <p><b>How do I sign up?</b>
        <p>If you're a friend of <a href="http://www.ssaraf.com">Sanjay</a>'s, go <a href="/register">here</a>. For now I'm just sharing this with friends, but I won't stop you from signing up. 
        <p><b>Can you describe the site more?</b>
        <p>Sure. It's like an RSS reader for finding interesting articles, reddit for posting links (though there is no voting), and a mini social network to find contacts. There are no pictures on this site, except for incidental ones like logos and button images. The best description I've heard so far is "a discussion forum for your friends".
        <p><b>What makes you think people want to use this?</b>
        <p>I don't know yet, you goober. But I wanted to use it, so I built it. :)
        <p><b>What's with the name?</b>
        <p>The site is named after a member of the <a href="https://en.wikipedia.org/wiki/Olympia_Academy">olympia academy</a>.
        <p><b>Why's the site so ugly?</b>
        <p>I prefer the term <i>utilitarian</i>. All I want is something that is easy to use, and functional. Think of this as a web version of a crowbar. Except instead of prying out nails, you can have intelligent conversations more easily. 
        <p><b>How are you going to make money off of me?</b>
        <p>Always a good question. In the long term, I may charge a nominal yearly fee, both to prevent spam and to keep the site up. 
    </div>
</div>
{% endblock %}