{% extends 'registration/base.html' %}

{% block titleblock %}
Home
{% endblock %}

{% block bodyblock %}
<div style="float: right;" id="authtarget">
{% if user.is_authenticated %}
    Hi {{ user.first_name }}! | <a ic-post-to="/logout/" ic-target="#authtarget" ic-include="#defaults" href="#">Logout</a>
{% else %}
    <a href="/login">Login</a> | <a href="/register">Register</a>
{% endif %}
</div>
<div>
    <i>Amicis carissimis ova dura et salutem.</i>
    <p>
    <div style="width: 600px;">
    <p><b>What is this site for?</b>
    It's a place for people to post links and have discussions. 
    <p><b>How do I sign up?</b>
    If you're a friend of <a href="http://www.ssaraf.com">Sanjay</a>'s, go <a href="/register">here</a>. If not, please wait! I'm just sharing this with a few friends for now. I won't stop you from signing up though. 
    <p><b>Can you describe the site more?</b>
    Sure. It's like an RSS reader for finding interesting articles, reddit for posting links (though there is no voting), and a mini social network to find contacts. There are no pictures on this site, except for incidental ones like logos and button images. The best description I've heard so far is "a discussion forum for your friends".
    <p><b>What makes you think people want to use this?</b>
    I don't know yet, you glazed donut. But I wanted to use it, so I built it. :)
    <p><b>What's with the name?</b>
    The site is named after a member of the <a href="https://en.wikipedia.org/wiki/Olympia_Academy">olympia academy</a>.
    </div>
    <a href="/feeds"><h4>Enter site here</h4></a>
</div>
{% endblock %}