{% extends 'posts/base.html' %}

{% block titleblock %}
Login here
{% endblock %}

{% block bodyblock %}
<div class="main">
<div id="form-target"> <b>Login here!</b> Need to register? Sign up <a href="/register">here</a>.</p>
<form ic-post-to="/login/" ic-target="#form-target" ic-include="#defaults">
    <div class="form-group">
      
      <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email address" style="width: 300px; border: none; padding: 0px; padding-left: 5px; height: 30px; margin-bottom: 10px; font-size: 13px; font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas'">
    </div>
    <div class="form-group">
      
      <input name="password" type="password" class="form-control" id="exampleInputPassword1"
             placeholder="Password" style="width: 300px; border: none; padding: 0px; padding-left: 5px; height: 30px; margin-bottom: 10px; font-size: 13px; font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas'">
    </div>
    <button id="form-button-1" type="submit" class="btn btn-default">Submit</button>
</form>
</div>
</div>
{% endblock %}