<!DOCTYPE HTML>
<html>
<head>
    {% load static from staticfiles %}
    <title>{% block titleblock %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
</head>
<body><form id="defaults" >
    <input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}" ic-global-include="#defaults">
</form>
{% block headerblock %}
<div class="header">
    <div class="logo">
        <a href="/posts/" style="color: black; text-decoration: none;"><b><i>solovine</i></b></a><a href="/feeds/" style="color: black; text-decoration: none; padding-left: 20px;"><u>feeds</u></a><a href="/posts/" style="color: black; text-decoration: none; padding-left: 10px;"><u>posts</u></a><a href="/create/" style="color: black; text-decoration: none; padding-left: 10px;"><u>write</u></a>
    </div>
    <div class="userstatus" id="authtarget">

        {% if user.is_authenticated %}
        <a href="/user/{{user.email}}" style="color: black; text-decoration: none; padding-right: 10px;"><u>profile</u></a>
            Hi {{ user.first_name }}! | <a ic-post-to="/logout/" ic-target="#authtarget" ic-include="#defaults" href="#">Logout</a>
        {% else %}
            <a href="/login">Login</a> | <a href="/register">Register</a>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block bodyblock %}{% endblock %}
<script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
<script src="{% static "js/intercooler-1.2.1.min.js" %}"></script>
{% block js %}{% endblock %}
</body>
</html>