{% extends 'posts/base.html' %}

{% block titleblock %}
Write a post
{% endblock %}

{% block bodyblock %}
<div class="main">
    <form id="creationform">
        <input type="hidden" name="editorvalue" style="display: none;">
        <input type="text" name="title" class="createtitle" placeholder="Title" value="{{title}}"> <div class="createdesc">[Required] Add a title.</div>
        <input type="text" name="link" class="createlink" placeholder="http://google.com/" value="{{link}}"> <div class="createdesc">[Optional] Add the link you're responding to.</div>
        <div id="editor" class="createeditor" placeholder="example"></div> <div class="createdesc">[Optional] Write something.</div>
        <br>
        <div><input style="" type="checkbox" name="public" value="public" checked><span style="color: #6c6053cc;">Make this public</span><br></div>
        <a class="submitbutton" ic-post-to="/create/" href="#" ic-target='#message' style="margin-top: 5px; display: block; width: 60px;">publish!</a><div id="message" style="display: inline-block; margin-left: 15px;"></div>
    </form>
</div>
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/chrome");
    editor.session.setMode("ace/mode/markdown");
    editor.setOptions({
        showPrintMargin: false,
        copyWithEmptySelection: true,
        highlightGutterLine: false,
        showGutter: false,
        fontSize: 13,
        highlightActiveLine: false,
        wrap: true,
        useSoftTabs: false,
        indentedSoftWrap: false
    });

    var input = $('input[name="editorvalue"]');
        editor.getSession().on("change", function () {
        input.val(editor.getSession().getValue());
    });

      
    Intercooler.ready(function() {
        $('.submitbutton').on('click', function(e) {
          $('input:text').val('') 
          editor.setValue('')
        });
    });
</script>
{% endblock %}