{% extends 'posts/base.html' %}

{% block titleblock %}
{{title}}
{% endblock %}

{% block bodyblock %}
<div class="main">
    
    {% for p in posts %}
        <form id="postdefaults" >
            <input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}">
            <input name="postvalue" type="hidden" value="{{ p.pk }}">
        </form>
        {% include 'posts/postheader.html' %}
        <div class="posttext">{{p.text}}</div>
        <div class="reply" ic-target="this" ic-replace-target="true" ic-include="#postdefaults" ic-post-to="/getcommentreply/0/">comment</div>
        <p>
    {% endfor %}
    <div class="commentcontainer" id="commentbox">
    {% for c in comments %}
        {% include 'posts/comment.html' %}
    {% endfor %}
    </div>
</div>
{% endblock %}