{% extends 'posts/base.html' %}

{% block titleblock %}
{{title}}
{% endblock %}

{% block bodyblock %}
<div class="main">

    {% for p in posts %}
        <form id="postdefaults" >
            <input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}">
            <input name="postvalue" type="hidden" value="{{ p.pk }}">
        </form>
        <div class="post">
            <div class="posttitle"><a href="/{% if public %}public{% else %}post{% endif %}/{{p.slug}}"><b>{{p.title}}</b></a></div>
            <div class="postlink"><a href="{{p.link}}" target="blank">({{p.link}})</a></div><br>
            <div class="postauthor"><a href="/user/{{p.author.email}}">{{p.author.first_name}} {{p.author.last_name}}</a></div> | <div class="postage">{{p.timestamp|date:"D d M Y"}}</div> | <div class="postcomments">{{p.num_comments}} comment{{ p.num_comments|pluralize }}</div>
            <div class="posttext">{{p.text}}</div>
        </div>
        <div class="reply" ic-target="this" ic-replace-target="true" ic-include="#postdefaults" ic-post-to="/getcommentreply/0/">comment</div>
        <p>
    {% endfor %}
    <div class="commentcontainer" id="commentbox">
    {% for c in comments %}
        {% include 'posts/comment.html' %}
    {% endfor %}
    </div>
</div>
{% endblock %}