<div class="post">
    <div class="posttitle"><a href="/{% if public %}public{% else %}post{% endif %}/{{p.slug}}"><b>{{p.title}}</b></a></div>
    {% if p.link %}<div class="postlink"><a href="{{p.link}}" target="blank">({{p.link | truncatechars:50}})</a></div>{% endif %}<br>
    <div class="postauthor"><a href="/user/{{p.author.email}}">{{p.author.first_name}} {{p.author.last_name}}</a></div> - <div class="postage">{{p.timestamp|date:"M d Y"}}</div> - <div class="postcomments"><a href="/{% if public %}public{% else %}post{% endif %}/{{p.slug}}#commentbox">{{p.num_comments}} comment{{ p.num_comments|pluralize }}</a></div>
</div>