{% extends 'posts/base.html' %}

{% block titleblock %}
Posts Home
{% endblock %}

{% block bodyblock %}
<div class="main">
    <a href="/create">Write a new post!</a>
    <p>
    {% for p in posts %}
        <div class="post">
            <div class="posttitle"><a href="/post/{{p.slug}}"><b>{{p.title}}</b></a></div>
            <div class="postauthor"><a href="/profile/{{p.author.pk}}">{{p.author.first_name}} {{p.author.last_name}}</a></div> | <div class="postage">{{p.timestamp|date:"D d M Y"}}</div> | <div class="postcomments"><a href="/post/{{p.slug}}#commentbox">{{p.num_comments}} comments</a></div>
            <p>
        </div>
    {% endfor %}
</div>
{% endblock %}